# .replit
modules = ["python-3.11"]

# ▶ Run button command
run = "bash -c 'streamlit run app.py \
  --server.headless true \
  --server.address 0.0.0.0 \
  --server.port $PORT \
  --browser.gatherUsageStats false'"

alwaysOpenInBrowser = true

[nix]
channel = "stable-24_05"
packages = [
  "cairo",
  "ffmpeg-full",
  "freetype",
  "ghostscript",
  "glibcLocales",
  "gobject-introspection",
  "gtk3",
  "pkg-config",
  "qhull",
  "tcl",
  "tk"
]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = [
  "bash","-c",
  "streamlit run app.py \
    --server.headless true \
    --server.address 0.0.0.0 \
    --server.port $PORT \
    --browser.gatherUsageStats false"
]
deploymentTarget = "cloudrun"
